@import '../fonts/Manrope/index.css';

body {
	font-family: var(--db-components-typography-font-family);
	font-weight: var(--db-components-typography-font-weight);
	letter-spacing: var(--db-components-typography-letter-spacing);
	line-height: var(--db-components-typography-line-height);
}

.heading {
	@include heading();
	&--lg {
		@include heading--lg();
	}
	&--md {
		@include heading--md();
	}
	&--sm {
		@include heading--sm();
	}
	&--xs {
		@include heading--xs();
	}
}

.text {
	@include text();
	&--md {
		@include text--md();
	}
	&--sm {
		@include text--sm();
	}
	&--xs {
		@include text--xs();
	}
}

$font-weights: 200, 300, 400, 500, 600, 700, 800;
@each $font-weight in $font-weights {
	.font-weight-#{$font-weight} {
		@include font-weight($font-weight);
	}
}
