@mixin heading() {
	margin: 0;
	font-weight: 600;
	line-height: 1.5em;
}
@mixin heading--lg() {
	font-size: 1.875rem;
	line-height: 1.25em;
}
@mixin heading--md() {
	font-size: 1.125rem;
}
@mixin heading--sm() {
	font-size: 1rem;
}
@mixin heading--xs() {
	font-size: 1rem;
}

@mixin text() {
	font-weight: 400;
	line-height: 1.3em;
}
@mixin text--md() {
	font-size: 0.875rem;
}
@mixin text--sm() {
	font-size: 0.75rem;
}
@mixin text--xs() {
	font-size: 0.625rem;
}
@mixin text-truncate($lines-count: 1) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines-count;
	text-overflow: ellipsis;
}

@mixin font-weight($font-weight) {
	font-weight: $font-weight;
}

@mixin visually-hidden() {
	position: absolute !important;
	overflow: hidden !important;
	padding: 0 !important;
	border: 0 !important;
	margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
	block-size: 1px !important;
	clip: rect(0, 0, 0, 0) !important;
	inline-size: 1px !important;
	white-space: nowrap !important;
}

// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
@mixin visually-hidden-focusable() {
	&:not(:focus):not(:focus-within) {
		@include visually-hidden();
	}
}

@keyframes focus-in {
	0% {
		outline-width: 0;
	}
	100% {
		outline-width: max(0.25rem, 4px);
	}
}

@mixin focus-state() {
	animation: focus-in 0.3s backwards;
	outline: var(--db-components-color-tertiary) solid max(0.25rem, 4px);
}
