// General
.fade-enter-active,
.fade-leave-active {
	transition: var(--db-components-transition-base);
	transition-property: opacity;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

// Tabs
.tabs-fade-enter-active,
.tabs-fade-leave-active {
	transition: var(--db-components-transition-base);
	transition-property: opacity;
}

.tabs-fade-leave-active {
	position: absolute;
	inset-block-start: 0;
}

.tabs-fade-enter-from,
.tabs-fade-leave-to {
	opacity: 0;
}
