:root {
	--db-components-color-primary: oklch(0.2134 0.0301 261.02);
	--db-components-color-secondary: oklch(0.7176 0.0156 256.73);
	--db-components-color-tertiary: oklch(0.9278 0.0058 264.53);

	--db-components-color-text-primary: oklch(0.2816 0.0291 253.77);
	--db-components-color-text-secondary: oklch(0.5531 0.0203 261.46);
	--db-components-color-text-tertiary: oklch(0.8736 0.0081 253.28);

	--db-components-color-background-primary: oklch(1 0 0);
	--db-components-color-background-secondary: oklch(0.9843 0.0017 247.84);
	--db-components-color-background-tertiary: oklch(0.9679 0.0027 264.54);

	--db-components-color-success-700: oklch(0.507 0.121 156.388);
	--db-components-color-success-500: oklch(0.68 0.165 154.914);
	--db-components-color-success-300: oklch(0.846 0.146 157.772);
	--db-components-color-success-100: oklch(0.949 0.056 156.34);
	--db-components-color-success-50: oklch(0.979 0.021 158.607);

	--db-components-color-warning-700: oklch(0.5399 0.1562 43.105);
	--db-components-color-warning-500: oklch(0.7406 0.1789 56.913);
	--db-components-color-warning-300: oklch(0.8618 0.1489 85.044);
	--db-components-color-warning-100: oklch(0.9569 0.0543 91.777);
	--db-components-color-warning-50: oklch(0.9846 0.0208 91.582);
	--db-components-color-warning-25: oklch(0.9913 0.01 87.47);

	--db-components-color-error-700: oklch(0.4993 0.1817 29.377);
	--db-components-color-error-500: oklch(0.6371 0.2104 28.608);
	--db-components-color-error-300: oklch(0.8006 0.1098 24.246);
	--db-components-color-error-100: oklch(0.938 0.0294 22.589);
	--db-components-color-error-50: oklch(0.9699 0.0131 23.716);
	--db-components-color-error-25: oklch(0.9907 0.0046 34.31);

	--db-components-color-palette-primary-text: var(--db-components-color-primary);
	--db-components-color-palette-primary-text-hover: var(--db-components-color-text-primary);
	--db-components-color-palette-primary-text-disabled: var(--db-components-color-tertiary);
	--db-components-color-palette-primary-background: var(--db-components-color-background-secondary);
	--db-components-color-palette-primary-background-hover: var(--db-components-color-background-tertiary);
	--db-components-color-palette-primary-outline: var(--db-components-color-tertiary);

	--db-components-color-palette-accent-1-text: oklch(0.6804 0.1652 154.88);
	--db-components-color-palette-accent-1-text-hover: oklch(0.7507 0.1626 155.32);
	--db-components-color-palette-accent-1-text-disabled: oklch(0.895 0.0947 156.16);
	--db-components-color-palette-accent-1-background: oklch(0.9794 0.0215 160.49);
	--db-components-color-palette-accent-1-background-hover: oklch(0.9487 0.0556 156.01);
	--db-components-color-palette-accent-1-outline: var(--db-components-color-palette-accent-1-text-disabled);

	--db-components-color-palette-success-text: var(--db-components-color-success-700);
	--db-components-color-palette-success-text-hover: var(--db-components-color-success-500);
	--db-components-color-palette-success-text-disabled: var(--db-components-color-success-300);
	--db-components-color-palette-success-background: var(--db-components-color-success-50);
	--db-components-color-palette-success-background-hover: var(--db-components-color-success-100);
	--db-components-color-palette-success-outline: var(--db-components-color-success-300);

	--db-components-color-palette-warning-text: var(--db-components-color-warning-700);
	--db-components-color-palette-warning-text-hover: var(--db-components-color-warning-500);
	--db-components-color-palette-warning-text-disabled: var(--db-components-color-warning-300);
	--db-components-color-palette-warning-background: var(--db-components-color-warning-50);
	--db-components-color-palette-warning-background-hover: var(--db-components-color-warning-100);
	--db-components-color-palette-warning-outline: var(--db-components-color-warning-300);

	--db-components-color-palette-error-text: var(--db-components-color-error-700);
	--db-components-color-palette-error-text-hover: var(--db-components-color-error-500);
	--db-components-color-palette-error-text-disabled: var(--db-components-color-error-300);
	--db-components-color-palette-error-background: var(--db-components-color-error-50);
	--db-components-color-palette-error-background-hover: var(--db-components-color-error-100);
	--db-components-color-palette-error-outline: var(--db-components-color-error-300);

	--db-components-color-palette-fallback-text: var(--db-components-color-text-secondary);
	--db-components-color-palette-fallback-text-hover: var(--db-components-color-secondary);
	--db-components-color-palette-fallback-text-disabled: var(--db-components-color-tertiary);
	--db-components-color-palette-fallback-background: var(--db-components-color-background-secondary);
	--db-components-color-palette-fallback-background-hover: var(--db-components-color-background-tertiary);
	--db-components-color-palette-fallback-outline: var(--db-components-color-tertiary);

	// Transition
	--db-components-transition-duration-base: 0.3s;
	--db-components-transition-timing-function-base: ease;
	--db-components-transition-base: var(--db-components-transition-duration-base)
		var(--db-components-transition-timing-function-base);

	--db-components-shadow-xs: 0 1px 2px 0 oklch(0 0 0 / 0.09);
	--db-components-shadow-lg: 0 12px 16px -4px oklch(0.2 0.036 264 / 0.08);

	// App
	--db-components-typography-font-family: 'Manrope', sans-serif;
	--db-components-typography-font-weight: 400;
	--db-components-typography-letter-spacing: -0.03em;
	--db-components-typography-line-height: 1.15;

	// Divider
	--db-components-divider-color: var(--db-components-color-tertiary);

	// Checkbox
	--db-components-checkbox-color-icon-default: transparent;
	--db-components-checkbox-color-background-default: var(--db-components-color-background-primary);
	--db-components-checkbox-color-outline-default: var(--db-components-color-secondary);

	--db-components-checkbox-color-icon-hover: var(--db-components-checkbox-color-icon-default);
	--db-components-checkbox-color-background-hover: var(--db-components-color-background-tertiary);
	--db-components-checkbox-color-outline-hover: var(--db-components-color-text-secondary);

	--db-components-checkbox-color-icon-disabled: var(--db-components-checkbox-color-icon-default);
	--db-components-checkbox-color-background-disabled: var(--db-components-color-background-tertiary);
	--db-components-checkbox-color-outline-disabled: var(--db-components-color-tertiary);

	--db-components-checkbox-color-icon-default-checked: var(--db-components-color-primary);
	--db-components-checkbox-color-outline-default-checked: var(--db-components-color-primary);

	--db-components-checkbox-color-icon-hover-checked: var(--db-components-checkbox-color-icon-default-checked);
	--db-components-checkbox-color-outline-hover-checked: var(--db-components-checkbox-color-outline-default-checked);

	--db-components-checkbox-color-icon-disabled-checked: var(--db-components-color-tertiary);
	--db-components-checkbox-color-outline-disabled-checked: var(--db-components-checkbox-color-outline-disabled);

	// Switch
	--db-components-switch-color-icon-default: var(--db-components-color-background-primary);
	--db-components-switch-color-background-default: var(--db-components-color-background-tertiary);

	--db-components-switch-color-icon-hover: var(--db-components-switch-color-icon-default);
	--db-components-switch-color-background-hover: var(--db-components-color-tertiary);

	--db-components-switch-color-icon-disabled: var(--db-components-color-background-secondary);
	--db-components-switch-color-background-disabled: var(--db-components-color-background-secondary);

	--db-components-switch-color-icon-default-cheched: var(--db-components-switch-color-icon-default);
	--db-components-switch-color-background-default-cheched: var(--db-components-color-primary);

	--db-components-switch-color-icon-hover-cheched: var(--db-components-switch-color-icon-default-cheched);
	--db-components-switch-color-background-hover-cheched: var(--db-components-color-text-primary);

	--db-components-switch-color-icon-disabled-cheched: var(--db-components-switch-color-icon-disabled);
	--db-components-switch-color-background-disabled-cheched: var(--db-components-switch-color-icon-disabled);

	// Icons
	--db-components-icon-sm-stroke-width: 3 !important;
}
