:root {
	--db-components-color-primary: hsl(218, 39%, 11%);
	--db-components-color-secondary: hsl(215, 9%, 65%);
	--db-components-color-tertiary: hsl(220, 13%, 91%);

	--db-components-color-text-primary: hsl(213, 28%, 17%);
	--db-components-color-text-secondary: hsl(218, 8%, 46%);

	--db-components-color-background-primary: hsl(0, 0%, 100%);
	--db-components-color-background-secondary: hsl(210, 20%, 98%);
	--db-components-color-background-tertiary: hsl(220, 14%, 96%);

	--db-components-color-success-700: hsl(155, 97%, 24%);
	--db-components-color-success-500: hsl(152, 82%, 39%);
	--db-components-color-success-300: hsl(148, 74%, 67%);
	--db-components-color-success-100: hsl(140, 80%, 90%);
	--db-components-color-success-50: hsl(145, 81%, 96%);

	--db-components-color-warning-700: hsl(22, 92%, 37%);
	--db-components-color-warning-300: hsl(42, 99%, 65%);
	--db-components-color-warning-100: hsl(45, 96%, 89%);
	--db-components-color-warning-50: hsl(45, 100%, 96%);
	--db-components-color-warning-25: hsl(42, 100%, 98%);

	--db-components-color-error-700: hsl(4, 76%, 40%);
	--db-components-color-error-500: hsl(4, 86%, 58%);
	--db-components-color-error-300: hsl(4, 96%, 80%);
	--db-components-color-error-100: hsl(4, 93%, 94%);
	--db-components-color-error-50: hsl(5, 86%, 97%);
	--db-components-color-error-25: hsl(12, 100%, 99%);

	--db-components-color-accent-1-text: hsl(152, 82%, 39%);
	--db-components-color-accent-1-hover: hsl(148, 58%, 52%);
	--db-components-color-accent-1-disabled: hsl(142, 70%, 80%);
	--db-components-color-accent-1-background: hsl(145, 81%, 96%);

	--db-components-color-success-text: var(--db-components-color-success-700);
	--db-components-color-success-hover: var(--db-components-color-success-500);
	--db-components-color-success-disabled: var(--db-components-color-success-300);
	--db-components-color-success-background: var(--db-components-color-success-50);

	--db-components-color-warning-text: var(--db-components-color-warning-700);
	--db-components-color-warning-hover: var(--db-components-color-warning-300);
	--db-components-color-warning-disabled: var(--db-components-color-warning-100);
	--db-components-color-warning-background: var(--db-components-color-warning-50);

	--db-components-color-error-text: var(--db-components-color-error-700);
	--db-components-color-error-hover: var(--db-components-color-error-500);
	--db-components-color-error-disabled: var(--db-components-color-error-300);
	--db-components-color-error-background: var(--db-components-color-error-50);

	--db-components-color-fallback-text: var(--db-components-color-text-secondary);
	--db-components-color-fallback-hover: var(--db-components-color-secondary);
	--db-components-color-fallback-disabled: var(--db-components-color-tertiary);
	--db-components-color-fallback-background: var(--db-components-color-background-tertiary);

	// Transition
	--db-components-transition-duration-base: 0.3s;
	--db-components-transition-timing-function-base: ease;
	--db-components-transition-base: var(--db-components-transition-duration-base)
		var(--db-components-transition-timing-function-base);

	// Shadow
	--db-components-shadow-xs: 0 1px 2px 0 hsla(0, 0%, 0%, 0.09);
	--db-components-shadow-lg: 0 12px 16px -4px hsla(221, 44%, 11%, 0.08);

	// App
	--db-components-typography-font-family: 'Manrope', sans-serif;
	--db-components-typography-font-weight: 400;
	--db-components-typography-letter-spacing: -0.03em;
	--db-components-typography-line-height: 1.15;

	// Divider
	--db-components-divider-color: var(--db-components-color-tertiary);

	// Checkbox
	--db-components-checkbox-color-icon-default: transparent;
	--db-components-checkbox-color-background-default: var(--db-components-color-background-primary);
	--db-components-checkbox-color-outline-default: var(--db-components-color-secondary);

	--db-components-checkbox-color-icon-hover: var(--db-components-checkbox-color-icon-default);
	--db-components-checkbox-color-background-hover: var(--db-components-color-background-tertiary);
	--db-components-checkbox-color-outline-hover: var(--db-components-color-text-secondary);

	--db-components-checkbox-color-icon-disabled: var(--db-components-checkbox-color-icon-default);
	--db-components-checkbox-color-background-disabled: var(--db-components-color-background-tertiary);
	--db-components-checkbox-color-outline-disabled: var(--db-components-color-tertiary);

	--db-components-checkbox-color-icon-default-checked: var(--db-components-color-primary);
	--db-components-checkbox-color-outline-default-checked: var(--db-components-color-primary);

	--db-components-checkbox-color-icon-hover-checked: var(--db-components-checkbox-color-icon-default-checked);
	--db-components-checkbox-color-outline-hover-checked: var(--db-components-checkbox-color-outline-default-checked);

	--db-components-checkbox-color-icon-disabled-checked: var(--db-components-color-tertiary);
	--db-components-checkbox-color-outline-disabled-checked: var(--db-components-checkbox-color-outline-disabled);

	// Switch
	--db-components-switch-color-icon-default: var(--db-components-color-background-primary);
	--db-components-switch-color-background-default: var(--db-components-color-background-tertiary);

	--db-components-switch-color-icon-hover: var(--db-components-switch-color-icon-default);
	--db-components-switch-color-background-hover: var(--db-components-color-tertiary);

	--db-components-switch-color-icon-disabled: var(--db-components-color-background-secondary);
	--db-components-switch-color-background-disabled: var(--db-components-color-background-secondary);

	--db-components-switch-color-icon-default-cheched: var(--db-components-switch-color-icon-default);
	--db-components-switch-color-background-default-cheched: var(--db-components-color-primary);

	--db-components-switch-color-icon-hover-cheched: var(--db-components-switch-color-icon-default-cheched);
	--db-components-switch-color-background-hover-cheched: var(--db-components-color-text-primary);

	--db-components-switch-color-icon-disabled-cheched: var(--db-components-switch-color-icon-disabled);
	--db-components-switch-color-background-disabled-cheched: var(--db-components-switch-color-icon-disabled);

	// Icons
	--db-components-icon-sm-stroke-width: 3 !important;
}
